<<html>
    <head>
        <title>Nata's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Nata's First Blog</a></h1>
        </div>
  
        <div>
            <p>published: 03.03.2018, 12:14</p>
            <h2><a href="">Georgia On My Mind</a></h2>
            <p>I said, Georgia, oh Georgia, No peace I find, Just an old sweet song, Keeps Georgia on my mind</p>
        </div>

        <div>
            <p>published: 04.03.2018, 12:14</p>
            <h2><a href="">Double Dragon</a></h2>
            <p>Dididididididididididididididididididid</p>
            <p>Even Didier</p>
        </div>
        <a href="https://github.com/NataBeri">Check My Github</a>
        <img src="https://s3.amazonaws.com/codecademy-blog/assets/f3a16fb6.jpg" />
    </body>
</html>
