{% load staticfiles %}

<<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <title>Nata's Blog</title>
    </head>

    <body>
        <div>
            <h1><a href="/">Nata's First Blog</a></h1>
        </div>
         <div>
            <p>published: 03.03.2018, 12:14</p>
            <h2><a href="">Georgia On My Mind</a></h2>
            <p>Georgia, No peace I find, Just an old sweet song, Keeps Georgia on my mind :)</p>
            <img src="https://www.dentons.com/-/media/images/website/background-images/offices/tbilisi/tbilisi-background-image.jpg?w=1024&h=302&crop=1" />
        </div>

        <div>
            <p>published: 04.03.2018, 12:14</p>
            <h2><a href="">Dragon</a></h2>
            <p>Dididididididididididididididididididid</p>
            <p>Even Didier</p>
        </div>
        <a href="https://github.com/NataBeri">Check My Github</a>
        <img src="https://s3.amazonaws.com/codecademy-blog/assets/f3a16fb6.jpg" />
    </body>
</html>
