<<html>
    <head>
        <title>Nata's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Nata's First Blog</a></h1>
        </div>

        <div>
            <p>published: 03.03.2018, 12:14</p>
            <h2><a href="">Georgia On My Mind</a></h2>
            <p>I said, Georgia, oh Georgia, No peace I find, Just an old sweet song, Keeps Georgia on my mind</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>lalalalalalalalalalalallalalalal.</p>
        </div>
    </body>
</html>
